= simple_form_for @task, class: "form-horizontal" do |f|
  = f.collection_select :category_id, Category.all, :id, :name, prompt: "Choose a Category"
  = f.input :title, label: "task title"
  = f.input :description, label: "task description"
  = f.input :company, label: "your company"
  = f.input :url, label: "link to task"
  %br/
  = f.submit :submit, class: "btn btn-secondary"
