#jobs
  .job
    %h1= @task.title
    %p= @task.description
    %p= @task.company
    = link_to "Complete Task", @task.url, class: "btn btn-sm btn-secondary"

#links
  = link_to "Home", root_path, class: "btn btn-sm btn-primary"
  = link_to "Edit", edit_task_path(@task), class: "btn btn-sm btn-secondary"
  = link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"
