!!!
%html
%head
  %title TaskRabbit
  %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
  %meta(name="viewport" content="width=device-width,initial-scale=1")/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        = link_to "TaskRabbit", root_path, class: "navbar-brand"
        %button.navbar-toggler(aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button")
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item 
              = link_to "All Task", root_path, class: "nav-link"
            - Category.all.each do |category|
              %li.nav-item
                = link_to category.name, tasks_path(category: category.name), class: "nav-link"

        = link_to "New Task", new_task_path, class: "navbar-text ml-auto text-decoration-none"

    .container
      .row
        .col-md-8.offset-md-2
          = yield
